repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: gofmt
        entry: gofmt -w
        language: system
        pass_filenames: true
        files: \.go$

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --timeout 5m
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        pass_filenames: false
        files: \.go$
